# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
